html {
    background: #fdfdff;
    color: #444;
}

html, head, body {
    height: 90%;
    margin: 0;
    padding: 0.5%;
}

button {
    position: absolute;
    background:url(reload.png) no-repeat;
    width:105px;
    height:110px;
    top: 80%;
    left: 50%;
}